*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* header start */
 header{
    background-image: url('../images/banner2.png');
    background-repeat: no-repeat;
    background-size:100%;
    min-height: 1000px;
    width: 100vw; 
 }

 .header-caption{
    margin-top: 1.5rem;
    margin-left: 30%;
    margin-right: 5%;
    height: 50rem;
    padding: 17rem;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-size: 6.5%;
    background-position: bottom right;

} 
 .header-caption>h2{
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
}
.header-caption>h3{
    font-size: 2rem;
    text-align: center; 
}


/* header end */


/* nav style start */

nav{
    width: 100vw;
   min-height:50px ;
    background-image: url('../images/gradient2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}
.nav-header{
    margin-left: 16rem;
    font-size: 3rem;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sup-text{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
nav>ul{
    display: flex;
    gap: 10rem;
    align-items: center;
}

nav> .nav-btn{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav-btn>button{
   min-width: 100px;
   min-height: 50px;
    background-color: tomato;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.nav-btn>button>a{
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
} 
nav>ul>li{
    list-style: none;
    min-width: 5rem;
    min-height: 2rem;
    padding: 0.5rem;
}
nav>ul>li:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 550;
}

/* nav style end */