*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* header start */
 header{
    background-image: url('../images/banner2.png');
    background-repeat: no-repeat;
    background-size:100%;
    min-height: 1000px;
    width: 100vw; 
 }

 .header-caption{
    margin-top: 1.5rem;
    margin-left: 30%;
    margin-right: 5%;
    height: 50rem;
    padding: 17rem;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-size: 6.5%;
    background-position: bottom right;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

} 
 .header-caption>h2{
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
}
.header-caption>h3{
    font-size: 2rem;
    text-align: center; 
}

/* nav style start */

nav{
    width: 100vw;
   min-height:50px ;
    background-image: url('../images/gradient2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}
.nav-header{
    margin-left: 16rem;
    font-size: 3rem;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sup-text{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
nav>ul{
    display: flex;
    gap: 10rem;
    align-items: center;
}

nav> .nav-btn{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav-btn>button{
   min-width: 100px;
   min-height: 50px;
    background-color: tomato;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.nav-btn>button>a{
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
} 
nav>ul>li{
    list-style: none;
    min-width: 5rem;
    min-height: 2rem;
    padding: 0.5rem;
}
nav>ul>li:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 550;
}

/* nav style end */

/* header end */


/* main style start */

.about-info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-info{
    min-width:180px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    padding: 0 1rem 0 1rem;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.4);
}
.about-tittle{
    height: 5px;
    font-size: 1.2rem;
}
.info-description{
    font-size: 1.5rem;
}

.what-i-do{
    margin: 2rem auto 0 auto;
    padding: 100px 130px 100px;
}
.what-i-do-para{
    display: flex;
    width: 827px;
    flex-shrink: 0;
    color: #474747;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding: 0 156px 0 156px;
    margin: 0px auto;
}

.skill-container{
    margin: 0 auto 0  auto;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
}
.skill{
    padding: 2rem 1rem;
    margin-top: 5rem;
    width: 267px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.2);
}

.skill>img{
    padding-left: 1rem;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.skill-para{
    margin-top: 1rem;
    margin-right: 3rem;
    padding-left: 1rem;
    display: flex;
    text-align: start;
    width: 201px;
    flex-shrink: 0;
    color:#757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* main style end */

/* footer style start */
footer{
    width: 100%;
    min-height: 577px;
    flex-shrink: 0;
    background-image: url('../images/gradient1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem 12rem 2rem 12rem;
}
.left-column>h2,
.left-column>p,
{
    width: 500px;
    height: 500px;
    background-color: #F15B22;
    padding: 5rem 5rem 5rem 5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.left-column>h2{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.left-column>p{
    margin-bottom: 1rem;
    color: #FFF;
    font-family: Work Sans;
    width: 400px;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.left-column>button{
    margin-top: 1rem;
    margin-right: 1rem;
    border: none;
    flex-shrink: 0;
    border-radius: 100%;
}
.right-column{
    width: 500px;
    height: 500px;
    padding: 0rem 5rem 5rem 5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 1rem;
}
.right-column>h2{
    color:black;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.right-column>input{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
    margin-top: 0.5rem;
    font-family: 1.5rem;
}
.right-column>button{
    width: 120px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1rem;
}
.right-column>button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

/* footer style end */


/* icons start */
.phone-icon{
    width: 23px;
    height: 23px;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}

/* icons end */

